<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>fyp_hrms</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.developer.registration.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>applyleave</servlet-name>
		<display-name>applyleave</display-name>
		<description></description>
		<servlet-class>com.developer.leave.applyleave</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplyLeaveServlet</servlet-name>
		<display-name>ApplyLeaveServlet</display-name>
		<description></description>
		<servlet-class>com.developer.leave.ApplyLeaveServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.developer.registration.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyLeaveRequests</servlet-name>
		<display-name>MyLeaveRequests</display-name>
		<description></description>
		<servlet-class>com.developer.leave.MyLeaveRequests</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplyLeaveServlet2</servlet-name>
		<display-name>ApplyLeaveServlet2</display-name>
		<description></description>
		<servlet-class>com.developer.leave.ApplyLeaveServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>applyleave</servlet-name>
		<url-pattern>/applyleave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLeaveServlet</servlet-name>
		<url-pattern>/ApplyLeaveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyLeaveRequests</servlet-name>
		<url-pattern>/MyLeaveRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLeaveServlet2</servlet-name>
		<url-pattern>/ApplyLeaveServlet2</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
